# Configuration de l'API
REACT_APP_API_URL=http://localhost:8000

# Configuration de l'environnement
REACT_APP_ENV=development

# Configuration des fonctionnalités
REACT_APP_ENABLE_ANALYTICS=false
REACT_APP_ENABLE_DEBUG=false