# ID Immobilier — Dépendances Pipeline (lourd)
# Installer avec : pip install -r requirements.txt

pyspark==3.5.1
pandas==2.2.0
numpy==1.26.4
openpyxl==3.1.2
requests
beautifulsoup4
python-dotenv==1.0.0
pymongo==4.6.1
apache-airflow==2.8.2

python-dotenv==1.0.0
